* {
  margin: 0;
  padding: 0;
  background-color:rgba(42, 110, 218, 0.561);
}
.app {
  background-image: linear-gradient(
    to right,
    rgba(85, 169, 248, 0.747),
    rgb(104, 190, 248)
  );
  min-height: 100vh;
  width: 100vw;
  align-items: center;
}
.note-section {
  padding: 15px;
}
